<mat-accordion>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header class="pr-padding-top-10px pr-padding-bottom-10px">
			<mat-panel-title class="pr-font-chn">VIEW MAP</mat-panel-title>
			<mat-panel-description class="pr-font-chn">Expand to view the dataset plotted on the world map.</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="map-container">
			<div fxLayout="column" fxLayoutAlign="start center">
				<span class="pr-map-action-info pr-font-nang">Interact with the map by using "Pinch-to-Zoom" / mouse scroll / swipe / drag actions. Click on the blue markers to view more information about the place.</span>
			</div>
			<div class="map-frame">
				<div id="mapw"></div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>