<div fxLayout="column" class="pr-covid-tab-analysi">
	<span class="pr-analysis-heading pr-font-chn pr-margin-top-10px">This project is possible</span>
	<span class="pr-covid-heading-3 pr-font-chn pr-uppercase pr-margin-left-10px">under the supervision of</span>
	<div fxLayout="row wrap" class="pr-margin-top-10px">
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('http://www.anirbanm.in')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/am.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Dr. Anirban Mukhopadhyay</span>
				<span class="pr-author-tag-info-1">Professor &amp; former Head</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
	</div>
	<span class="pr-covid-heading-3 pr-uppercase pr-font-chn pr-margin-top-30px pr-margin-left-10px">contributors</span>
	<div fxLayout="row wrap" class="pr-margin-top-10px">
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/ayankumarsaha/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/ayan.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Ayan Kumar Saha</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/abhijit-mitra-aa8a65187/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/abhijit.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Abhijit Mitra</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/sreshtha-dey-44488b191/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/sreshtha.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Sreshtha Dey</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/inder-kaur-a11691158')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/inder.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Inder Kaur</span>
				<span class="pr-author-tag-info-1">Department of Statistics</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/dripta-senapati-088b5b199')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/dripta.jpeg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Dripta Senapati</span>
				<span class="pr-author-tag-info-1">Department of Statistics</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/sayan-ghosh-32a818105/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/sayan.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Sayan Ghosh</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/mwlite/in/rahul-saha-67b981178')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/rahul.jpeg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Rahul Saha</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.facebook.com/pooja.saha.7758')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/puja.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Puja Saha</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/tapashree-seal-46323a19b')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/tapasree.jpeg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Tapasree Seal</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/gourab-karmakar-7baa1b183')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/gourav.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Gourav Karmakar</span>
				<span class="pr-author-tag-info-1">Department of Statistics</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/kaustav-nandy-b0a9ab131')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/kaustav.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Kaustav Nandy</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/anirban-mitra-a19512139')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/stock_profile.svg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Anirban Mitra</span>
				<span class="pr-author-tag-info-1">Department of Statistics</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.instagram.com/thegirlacrossthetable/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/priyanka.jpeg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Priyanka Karmakar</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science</span>
				<span class="pr-author-tag-info-2">Scottish Church College</span>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/debacharyaa/')" class="pr-author-tag mat-elevation-z2">
			<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
				<img src="assets/image/debabrata.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
				<span class="pr-author-tag-name">Debabrata Acharya</span>
				<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
				<span class="pr-author-tag-info-2">University Of Kalyani</span>
			</div>
		</div>
	</div>	
</div>
