<section class="pr-covid-coviddata pr-no-focus animated fadeIn" fxLayout="column" fxlayoutAlign="start center">
	<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
		<img src="assets/image/covdata-analysis.svg" class="pr-covdata-banner-image pr-non-selectable pr-no-focus">
	</div>
	<div fxlayout="row wrap" fxLayoutAlign="center start" class="pr-covdata-header pr-font-nang pr-non-selectable pr-no-focus">
		<span>The&nbsp;</span>
		<span class="pr-color-green-1">covdata</span>
		<span>&nbsp;package</span>
	</div>
	<div fxLayout="row" fxLayoutAlign="center start" class="pr-margin-top-10px">
		<span class="pr-covdata-codelink" (click)="navigateToLink('https://pypi.org/project/covdata/')">PyPI</span>
		<span class="pr-covdata-codelink" (click)="navigateToLink('https://github.com/kalyaniuniversity/covidindia')">github</span>
	</div>
	<div fxLayout="column" class="pr-margin-sides-10p pr-margin-top-30px pr-font-chn">
		<span class="pr-covdata-paragraph">This package has the power to bring all data of India as tabular form up-to previous day you are working. This module will bring the whole set of raw data in a date-wise and processed format from the <a href="https://github.com/kalyaniuniversity/COVID-19-Datasets" target="_blank" class="pr-ext-link">COVID-19 Indian Dataset maintained by University of Kalyani</a>, which will be easier to deal with.</span>
		<span class="pr-covdata-paragraph">Once installed, we can get an up-to-date information about the Covid-19 affected people, till the day the data is available at the source. We can visualize the data of our choice for any given range of dates. It is capable of giving information about the total number of confirmed, recovered and deceased patients, between any two dates, of any city, district or related to any particular gender (male/female). We can also visualize the whole up-to-date data without using any aforesaid filters using our module.</span>
		<span class="pr-covdata-paragraph">But due to some unavailability of prefect data the state wise data sets are up to date. It can't be filtered by date. Beside that it will bring the whole raw data, date wise data. It can also visualize the data of your choice of range of dates. You can also see the total confirmed, death and recovered by filtered the data set giving the date or range of dates.</span>
		<span class="pr-covdata-paragraph">Let's look at a small tutorial on how to use this package.</span>
		<span class="pr-covdata-paragraph">STEP 00: download the package from PyPI. To do this, simply use <span class="pr-code-snippet">pip install covdata</span></span>
		<span class="pr-covdata-paragraph">STEP 01: import the package and initialize the module. To do this, you can use</span>
		<span class="pr-code-snippet">from covdata.covidindia import *</span>
		<span class="pr-code-snippet">init = initializer()</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-01.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">STEP 02: We can then see a data collection of our choice, such as "confirmed", "recovered" and "deceased". We can do this by calling the <span class="pr-analysis-important-marker">show_data</span> method on the init object.</span>
		<span class="pr-code-snippet">init.show_data(of='recovered')</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-02.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">Good thing is we can also use this directly from our <span class="pr-analysis-important-marker">CLI</span>. To do this, run the following command on your Terminal or Console:</span>
		<span class="pr-code-snippet">covdata -f Total_Recovered --options show_data</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-03.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">STEP 03: To perform data filtration, we should initiate the <span class="pr-analysis-important-marker">Data</span> class and then call the appropriate methods on this instance. Let's get a dataframe of confirmed cases between two dates.</span>
		<span class="pr-code-snippet">filter = Data(init)</span>
		<span class="pr-code-snippet">filter.get_count_between_date('10/04/2020', '14/04/2020', by='total confirmed')</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-04.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">This can also be achieved from the command line interface.</span>
		<span class="pr-code-snippet">covdata -f Total_Confirmed -d 10/4/2020-14/4/2020 --options count_between_date</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-05.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">Step 04: We can also get the overall visualization of daily counts or cumulative counts. If <span class="pr-analysis-important-marker">daily</span> argument is not mentioned, the cumulative graph will be shown.</span>
		<span class="pr-code-snippet">graph = visualizer(init)</span>
		<span class="pr-code-snippet">graph.whole(daily=True)</span>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-covid-analysis-image-container">
			<img src="assets/image/covdata-sg-06.png" class="pr-covdata-image pr-non-selectable pr-no-focus">
		</div>
		<span class="pr-covdata-paragraph">This tutorial shows a basic usage of this powerful package. To know more, you can visit the <a href="https://github.com/kalyaniuniversity/covidindia" target="_blank" class="pr-ext-link">GitHub</a> or <a href="https://pypi.org/project/covdata/" target="_blank" class="pr-ext-link">PyPI</a> link or view its <a href="https://github.com/kalyaniuniversity/covidindia/blob/master/README.md" target="_blank" class="pr-ext-link">documentation</a>.</span>
	</div>
	<div fxLayout="row wrap" fxLayoutAlign="center center" class="pr-margin-top-30px pr-non-selectable pr-no-focus">
		<mat-chip-list aria-label="quick links">
			<mat-chip routerLink="/covid" class="pr-quick-link-chip">covid-19</mat-chip>
		</mat-chip-list>
	</div>
</section>