.pr-map-container {
	margin: 0px;
}

.pr-map-frame {
	height: 100%;
}

.pr-covid-map {
	border-radius: 7px;
	height: 450px;
	width: auto;
}

.pr-map-action-info {
	font-size: 0.8em;
	color: gainsboro;
	line-height: 1.2em;
	padding-top: 3%;
}