<div class="pr-map-container pr-non-selectable pr-no-focus">
	<div class="pr-map-frame">
		<div id="map" class="pr-covid-map mat-elevation-z4 pr-non-selectable pr-no-focus"></div>
	</div>
	<mat-radio-group [(ngModel)]="selectedMapType" fxLayout="row" fxLayoutAlign="space-around start" aria-label="Select an option to view the map" class="pr-margin-top-30px pr-color-pink-1 pr-font-chn pr-font-size-1-2-em pr-non-selectable pr-no-focus">
		<mat-radio-button (change)="onChangeSelectMapToShow($event)" value="1" color="warn" class="pr-padding-top-10px pr-padding-bottom-10px">Indian Map</mat-radio-button>
		<mat-radio-button (change)="onChangeSelectMapToShow($event)" value="2" color="warn" class="pr-padding-top-10px pr-padding-bottom-10px">World Map</mat-radio-button>
	</mat-radio-group>
	<div fxLayout="column" fxLayoutAlign="start center" class="pr-margin-bottom-10px">
		<span class="pr-map-action-info pr-font-nang pr-non-selectable pr-no-focus">Interact with the map by using "Pinch-to-Zoom" / mouse scroll / swipe / drag actions. Click on the blue markers to view more information about the place.</span>
	</div>
</div>