<div fxLayout="column" class="pr-covid-tab-analysis">
	<span *ngIf="isLoading" class="pr-covid-loading-message pr-font-chn pr-margin-sides-10p pr-margin-top-10px pr-margin-bottom-10px">Loading data ...</span>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="pr-margin-sides-10p pr-margin-top-10px pr-margin-bottom-10px"></mat-progress-bar>
	<div fxLayout="column">
		<span><span class="pr-covid-notice-header pr-font-chn">SOURCE DATA HAS CHANGED SINCE 23 / 3/ 2020</span></span>
		<span><span class="pr-covid-notice-header pr-font-chn">SOURCE DATA IN NOW BEING UPDATED AGAIN BUT MAY BE ONE DAY BEHIND OTHER DATA</span></span>
		<span class="pr-margin-top-10px pr-margin-bottom-10px"><a href="https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv" target="_blank" class="pr-ext-link">[ source: COVID-19 Timeseries Recoveries ]</a></span>
	</div>
	<span class="pr-analysis-heading pr-font-chn pr-margin-top-30px">covid-19 reported recovered cases as of <span class="pr-color-watermelon">{{latestCovidRecoveryDate}}</span> (mm/dd/yyyy)</span>
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header class="pr-padding-top-10px pr-padding-bottom-10px">
				<mat-panel-title class="pr-font-chn">RECOVERY CASES</mat-panel-title>
				<mat-panel-description class="pr-font-chn">Expand to view the Recovery Cases Dataset</mat-panel-description>
			</mat-expansion-panel-header>
			<span fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-covid-smallscreen-notice">The dataset is better viewed on a larger screen such as a computer or laptop screen. It may be difficult / uncomfortable to view it on smaller mobile screens.</span>
			<table mat-table #covidTimeseriesRecoveryDatatable [dataSource]="COVID_RECOVERY_MAT_TABLE_DATASCOURCE" class="mat-elevation-z8 pr-datatable">
				<ng-container *ngFor="let entry of covidRecoveryTableDisplayedColumns; index as i" matColumnDef="{{entry}}" sticky="{{i < 2 ? true : false}}">
					<mat-header-cell *matHeaderCellDef>{{covidRecoveryData.getHeaders()[i]}}</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element[entry]}}</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="covidRecoveryTableDisplayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: covidRecoveryTableDisplayedColumns"></mat-row>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons></mat-paginator>
		</mat-expansion-panel>
	</mat-accordion>
	<div fxLayout="column" class="pr-margin-top-10vh">
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Total Recoveries:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{workhorse.getCovidTotalRecovered(covidRecoveryData)}}</span>
			</div>
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Recovery Percentage:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{getCovidRecoveryPercent()}} &#x00025;</span>
			</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-margin-top-30px">
		<span class="pr-analysis-report-subtitle">Kindly use a larger screen device for better view and interaction with charts!</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="center center" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">Infection to Death to Recovery Ratio:</span>
			<span class="pr-analysis-report-subtitle">Infection: {{getCovidTotalInfectionCount()}} | Recoveries: {{workhorse.getCovidTotalRecovered(covidRecoveryData)}} | Deaths: {{getCovidTotalDeathCount()}}</span>
		</div>
		<ngx-charts-pie-chart [view]="covidRecoveryChartRecoveryRatio.view" [scheme]="covidRecoveryChartRecoveryRatio.colorScheme" [results]="covidRecoveryChartRecoveryRatio.single" [gradient]="covidRecoveryChartRecoveryRatio.gradient" [legend]="covidRecoveryChartRecoveryRatio.showLegend" [legendPosition]="covidRecoveryChartRecoveryRatio.legendPosition" [labels]="covidRecoveryChartRecoveryRatio.labels" [doughnut]="covidRecoveryChartRecoveryRatio.doughnut" (select)="onSelectCovidRecoveryRatioChart($event)"></ngx-charts-pie-chart>
	</div>
	<div fxLayout="column" class="pr-margin-top-10vh">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">Select a Country and Latest no. of Days to show:</span>
			<dif fxLayout="row">
				<mat-form-field fxFlex="50" class="pr-margin-left-15px pr-margin-right-15px">
					<mat-label>Select a country</mat-label>
					<mat-select [(ngModel)]="covidRecoveryChartRecoveryRate.selectedCountry" (selectionChange)="onSelectorChangeCovidRecoveryRatioCountry($event)">
						<mat-option *ngFor="let country of workhorse.getSortedCountryNames(covidRecoveryData)" [value]="country">{{country}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field fxFlex="50" class="pr-margin-left-15px pr-margin-right-15px">
					<mat-label>Select the latest number of days to show</mat-label>
					<mat-select [(ngModel)]="covidRecoveryChartRecoveryRate.latestDays" (selectionChange)="onSelectorChangeCovidRecoveryDaysRecoveryProgress($event)">
						<mat-option *ngFor="let days of workhorse.getNumberOfDaysArray(covidRecoveryData); let i = index" [value]="i + 1">{{i + 1}}</mat-option>
					</mat-select>
				</mat-form-field>
			</dif>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Recovered In {{covidRecoveryChartRecoveryRate.selectedCountry}}:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{workhorse.getCovidRecoveryByCountry(covidRecoveryData, covidRecoveryChartRecoveryRate.selectedCountry)}}</span>
			</div>
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Recovery Percentage In {{covidRecoveryChartRecoveryRate.selectedCountry}}:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{getCovidRecoveryPercentByCountry(covidRecoveryChartRecoveryRate.selectedCountry)}} &#x00025;</span>
			</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-margin-top-30px">
		<span class="pr-analysis-report-subtitle">Kindly use a larger screen device for better view and interaction with charts!</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="center center" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">{{covidRecoveryChartRecoveryRate.selectedCountry}}'s Recovery Progress:</span>
			<span class="pr-analysis-report-subtitle">{{covidRecoveryChartRecoveryRate.selectedCountry}}'s Total Infection: <span class="pr-color-watermelon pr-font-chn">{{getCovidTotalInfectionCountByCountry(covidRecoveryChartRecoveryRate.selectedCountry)}}</span></span>
			<span class="pr-analysis-report-subtitle">{{covidRecoveryChartRecoveryRate.selectedCountry}}'s Total Deaths: <span class="pr-color-watermelon pr-font-chn">{{workhorse.getCovidDeathsByCountry(covidRecoveryData, covidRecoveryChartRecoveryRate.selectedCountry)}}</span></span>
			<span class="pr-analysis-report-subtitle">Use the drop downs above to change the visualizations a required.</span>
		</div>
		<ngx-charts-line-chart [view]="covidRecoveryChartRecoveryRate.view" [scheme]="covidRecoveryChartRecoveryRate.colorScheme" [results]="covidRecoveryChartRecoveryRate.multi" [xAxis]="covidRecoveryChartRecoveryRate.showXAxis" [yAxis]="covidRecoveryChartRecoveryRate.showYAxis" [legend]="covidRecoveryChartRecoveryRate.showLegend" [legendPosition]="covidRecoveryChartRecoveryRate.legendPosition" [showXAxisLabel]="covidRecoveryChartRecoveryRate.showXAxisLabel" [showYAxisLabel]="covidRecoveryChartRecoveryRate.showYAxisLabel" [xAxisLabel]="covidRecoveryChartRecoveryRate.xAxisLabel" [yAxisLabel]="covidRecoveryChartRecoveryRate.yAxisLabel" (select)="onSelectCovidRecoveryCountryProgressChart($event)"></ngx-charts-line-chart>
	</div>
	<div fxLayout="column" fxLayoutAlign="start center" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">{{covidRecoveryChartRecoveryRate.selectedCountry}}'s Infection to Death to Recovery Progress:</span>
			<span class="pr-analysis-report-subtitle">Use the drop downs above to change the visualizations a required.</span>
		</div>
		<ngx-charts-line-chart [view]="covidDeathChartInfectionToDeathToRecoveryRate.view" [scheme]="covidDeathChartInfectionToDeathToRecoveryRate.colorScheme" [results]="covidDeathChartInfectionToDeathToRecoveryRate.multiComparison" [xAxis]="covidDeathChartInfectionToDeathToRecoveryRate.showXAxis" [yAxis]="covidDeathChartInfectionToDeathToRecoveryRate.showYAxis" [legend]="covidDeathChartInfectionToDeathToRecoveryRate.showLegend" [legendPosition]="covidDeathChartInfectionToDeathToRecoveryRate.legendPosition" [showXAxisLabel]="covidDeathChartInfectionToDeathToRecoveryRate.showXAxisLabel" [showYAxisLabel]="covidDeathChartInfectionToDeathToRecoveryRate.showYAxisLabel" [xAxisLabel]="covidDeathChartInfectionToDeathToRecoveryRate.xAxisLabel" [yAxisLabel]="covidDeathChartInfectionToDeathToRecoveryRate.yAxisLabel" (select)="onSelectCovidRecoveryCountryProgressChart($event)"></ngx-charts-line-chart>
	</div>
	<div class="pr-covid-analysis-writeup pr-font-chn">
		<p>(As of 22 / 3 / 2020)</p>
		<p>In India, while the number of infection count is increasing rapidly, the number of recovered is still quite low, but it is higher than the number of deaths. This is good progress. The pandemic ends when the number of patients recovered is higher or equal to the number of infected people. While it may seem that the gap between them is increasing (as seen in the interactive graph), we have to take steps to ensure that this gap decreses. In no way should the number of deaths be allowed to increase.</p>
		<p>That said, China is showing promising figures. While the number of infected is quite high, the slope of this line is no more steep and quite relaxed, ut within the last 28 days, since 24 / 2 /2020, the number of patients recovered has been catching up quite rapidly. This is very good progress.</p>
		<p>That said, things don't look at all in Italy, where the number of infected is quite high and the lines (from the graph) for recovery and death are almost the same. This is very concerning for the country.</p>
		<p>In Germany, the number of infected is quite high and increasing, but recoveries don't look that good as well. By 21 / 3 / 2020, almost 22,213 people were reported infected while number of recoveries till date was 233.</p>
	</div>
	<div fxLayout="column" class="pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column">
			<span class="pr-analysis-report-header pr-font-chn">Check back later as we keep adding more information to this analysis!</span>
		</div>
	</div>
</div>