<section class="pr-body">
	<mat-sidenav-container fullscreen class="example-container">
		<mat-sidenav #drawer mode="push">I was too lazy to write code.<br/>I'll complete it eventually. :P</mat-sidenav>
		<mat-sidenav-content fxLayout="column">
			<router-outlet></router-outlet>
			<footer class="pr-footer">

			</footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
	<div class="pr-fab-menu">
		<button mat-fab color="primary" (click)="drawer.toggle()" class="pr-menu-button-color">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div class="pr-fab-github">
		<button mat-icon-button (click)="go_to_github()">
			<mat-icon svgIcon="github"></mat-icon>
		</button>
	</div>
</section>






