mat-sidenav-container {
	scrollbar-width: none;
}

mat-sidenav-content {
	scrollbar-width: none;
}

.pr-body {
	width: 100%;
	height: 100%;
}

.pr-fab-menu {
	position: fixed;
	left: 3%;
	bottom: 3%;
	opacity: 1;
	z-index: 100;
}

.pr-fab-github {
	position: fixed;
	right: 3%;
	bottom: 3%;
	opacity: 1;
	z-index: 100;
	color: white;
}

.pr-menu-button-color {
	background-color: #007600;
}

.pr-footer {
	min-height: 50vh;
}

.pr-sidenav {
	width: 120px !important;
	max-width: 20%;
}

.pr-sidenav-options {
	margin-top: 50px;
	min-width: 30%;
}

.pr-sidinav-icon {
	font-size: 2em !important;
}

.pr-sidenav-option-container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.3em;
	color: whitesmoke;
	font-family: monospace;
	text-transform: uppercase;
}

.pr-sidenav-option-container:hover {
	color: #007600;
	cursor: pointer;
	-webkit-transition: all 300ms ease-out 50ms;
    -o-transition: all 300ms ease-out 50ms;
    transition: all 300ms ease-out 50ms;
}