<section class="pr-body">
	<mat-sidenav-container fullscreen class="example-container">
		<mat-sidenav #drawer mode="push" fxLayout="column" fxLayoutAlign="center stretch" class="pr-sidenav">
			<div fxLayout="column" fxLayoutAlign="center stretch" class="pr-sidenav-options">
				<div routerLink="/" (click)="drawer.toggle()" fxLayout="column" fxLayoutAlign="center center" class="pr-sidenav-option-container pr-non-selectable pr-no-focus">
					<button mat-icon-button>
						<mat-icon class="pr-sidinav-icon">home</mat-icon>
					</button>
					<span>Home</span>
				</div>
				<div routerLink="/covid" (click)="drawer.toggle()" fxLayout="column" fxLayoutAlign="center center" class="pr-sidenav-option-container pr-non-selectable pr-no-focus">
					<button mat-icon-button>
						<mat-icon class="pr-sidinav-icon">trending_up</mat-icon>
					</button>
					<span>COVID-19</span>
				</div>
			</div>
		</mat-sidenav>
		<mat-sidenav-content fxLayout="column">
			<router-outlet></router-outlet>
			<footer fxLayout="column" fxLayoutAlign="end center" class="pr-footer">
				<span class="pr-margin-bottom-10px pr-font-chn pr-non-selectable pr-no-focus">Made with <span class="pr-color-watermelon">&hearts;</span> by Debabrata Acharya</span>
			</footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
	<div class="pr-fab-menu">
		<button mat-fab color="primary" (click)="drawer.toggle()" class="pr-menu-button-color">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div class="pr-fab-github">
		<button mat-icon-button (click)="go_to_github()">
			<mat-icon svgIcon="github"></mat-icon>
		</button>
	</div>
</section>






