<section class="pr-home pr-non-selectable pr-no-focus" fxLayout="column">
	<div fxLayout="row" fxLayoutAlign="space-between start" class="pr-non-selectable pr-no-focus">
		<img fxFlex="50" src="assets/image/home-background.svg" class="pr-home-image pr-non-selectable pr-no-focus">
		<div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" class="animated zoomIn pr-non-selectable pr-no-focus">
			<div fxLayout="column" fxLayoutAlign="center start" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
				<span class="pr-font-size-3-em pr-line-height-1-5-em pr-font-cav pr-non-selectable pr-no-focus">Hello there!</span>
			</div>
			<div fxLayout="column" fxLayoutAlign="center start" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-margin-top-10vh pr-non-selectable pr-no-focus">
				<span class="pr-font-size-1-7-em pr-line-height-1-5-em pr-font-cav pr-non-selectable pr-no-focus">Hello there!</span>
			</div>
		</div>	
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<span></span>
		<div class="pr-chat-container pr-non-selectable pr-no-focus">
			<div class="pr-chat-mine pr-chat-messages">
				<div class="pr-chat-message pr-font-size-1-em pr-font-nang animated fadeInUp delay-1s pr-non-selectable pr-no-focus">
				  I do research.
				</div> 
				<div class="pr-chat-message pr-font-size-1-em pr-font-nang animated fadeInUp delay-2s pr-non-selectable pr-no-focus">
				  I write code.
				 </div>
				 <div class="pr-chat-message pr-font-size-1-em pr-font-nang animated fadeInUp delay-3s pr-non-selectable pr-no-focus">
					I build stuff.
				   </div>
				 <div class="pr-chat-message pr-chat-last pr-font-size-1-7-em animated fadeInUp delay-4s pr-non-selectable pr-no-focus">
					🤓
				</div>
			  </div>
		</div>
	</div>
	<div fxLayout="column" class="pr-margin-left-15px pr-non-selectable pr-no-focus">
		<span class="pr-font-poi pr-font-size-2-2-em pr-line-height-1-5-em pr-non-selectable pr-no-focus">Debabrata Acharya</span>
		<span class="pr-font-poi pr-font-size-1-8-em pr-line-height-1-5-em pr-non-selectable pr-no-focus">University Research Scholar | Software Developer</span>
		<span class="pr-font-chn pr-font-size-1-7-em pr-line-height-1-5-em pr-non-selectable pr-no-focus">University of Kalyani</span>
		<span class="pr-font-nang pr-font-size-1-em pr-line-height-1-5-em pr-non-selectable pr-no-focus">Kolkata, West Bengal, India</span>
	</div>
	<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="space-between center" class="pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<img src="assets/image/inverted-commas.svg" class="pr-margin-left-15px pr-home-quote-start-image pr-non-selectable pr-no-focus">
		<span fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" class="pr-font-size-3-em pr-line-height-1-5-em pr-font-cav pr-non-selectable pr-no-focus">I Dream Of A World That Promotes Open-Source.</span>
		<span fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-font-size-1-7-em pr-line-height-1-5-em pr-font-cav pr-margin-right-15px pr-margin-left-15px pr-non-selectable pr-no-focus">I Dream Of A World That Promotes Open-Source.</span>
		<img src="assets/image/inverted-commas.svg" class="pr-margin-right-15px pr-home-quote-end-image pr-non-selectable pr-no-focus">
	</div>
	<div fxLayout="row" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" class="pr-non-selectable pr-no-focus">
			<span class="pr-home-exp-heading-md pr-font-size-12-em pr-font-nang">Experience</span>
		</div>
		<div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" class="pr-non-selectable pr-no-focus">
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-urs pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">University Research Scholar</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">University of Kalyani, Kalyani</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/urs-cover-photo.svg" alt="Photo of a URS">
				<mat-card-content>
					<p class="pr-font-nang">Pursuing Ph.D. under the supervision of <a href="http://www.anirbanm.in" target="_blank" class="pr-ext-link">Dr. Anirban Mukhopadhyay</a> in the field of Bioinformatics with focus on Precision Medicine, Single Cell RNA Sequencing (scRNA-seq) and Multi-Objective Evolutionary Algorithms (MOEAs).</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2019 - Present</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-se pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Self Employed</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Freelance Software Developer</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/se-cover-photo.svg" alt="Photo of Self Employed">
				<mat-card-content>
					<p class="pr-font-nang">Developing highly scalable full stack enterprise software that is safe, secure and robust.</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">2014 - Present</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-gis pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Google India Scholar</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Udacity</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/google-udacity.jpeg" alt="Photo of Google Udacity">
				<mat-card-content>
					<p class="pr-font-nang">Recipient of the Google India Challenge Scholarship - 2018</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">Mar 2018</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-si pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Intern</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Decimus Financials Ltd.</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/si-cover-photo.svg" alt="Photo of Summer Intern">
				<mat-card-content>
					<p class="pr-font-nang">Joined as a Summer Intern at Decimus Financials Ltd. for development on a Loan Management System (LMS) and a Product Aggregation System (PAS).</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">June 2015 - Aug 2015</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-stiem pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Trainee</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Institute of Engineering and Management, Salt Lake</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/stiem-cover-photo.svg" alt="Photo of Summer Trainee">
				<mat-card-content>
					<p class="pr-font-nang">Completed training at IEM, Salt Lake on Programmable Logic Controller (PLC) and Automation to build an automated Parking Lot System.</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2014 - Aug 2014</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-stiss pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Trainee</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">iSec Systems</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/stiss-cover-photo.svg" alt="Photo of Summer Trainee">
				<mat-card-content>
					<p class="pr-font-nang">Completed Training at iSec Systems conducted by RoboNext in association with IIT Gwahati to build several Android Applications (Android Development Training)</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2014 - Aug 2014</span>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
	<div fxLayout="column" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false">
		<div fxLayout="row" fxLayoutAlign="center start" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
			<span class="pr-margin-right-15px pr-font-size-2-2-em pr-font-nang pr-non-selectable pr-no-focus">Experience</span>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="center start" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-urs pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">University Research Scholar</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">University of Kalyani, Kalyani</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/urs-cover-photo.svg" alt="Photo of a URS">
				<mat-card-content>
					<p class="pr-font-nang">Pursuing Ph.D. under the supervision of <a href="http://www.anirbanm.in" target="_blank" class="pr-ext-link">Dr. Anirban Mukhopadhyay</a> in the field of Bioinformatics with focus on Precision Medicine, Single Cell RNA Sequencing (scRNA-seq) and Multi-Objective Evolutionary Algorithms (MOEAs).</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2019 - Present</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-se pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Self Employed</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Freelance Software Developer</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/se-cover-photo.svg" alt="Photo of Self Employed">
				<mat-card-content>
					<p class="pr-font-nang">Developing highly scalable full stack enterprise software that is safe, secure and robust.</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">2014 - Present</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-gis pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Google India Scholar</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Udacity</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/google-udacity.jpeg" alt="Photo of Google Udacity">
				<mat-card-content>
					<p class="pr-font-nang">Recipient of the Google India Challenge Scholarship - 2018</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">Mar 2018</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-si pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Intern</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Decimus Financials Ltd.</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/si-cover-photo.svg" alt="Photo of Summer Intern">
				<mat-card-content>
					<p class="pr-font-nang">Joined as a Summer Intern at Decimus Financials Ltd. for development on a Loan Management System (LMS) and a Product Aggregation System (PAS).</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">June 2015 - Aug 2015</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-stiem pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Trainee</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">Institute of Engineering and Management, Salt Lake</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/stiem-cover-photo.svg" alt="Photo of Summer Trainee">
				<mat-card-content>
					<p class="pr-font-nang">Completed training at IEM, Salt Lake on Programmable Logic Controller (PLC) and Automation to build an automated Parking Lot System.</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2014 - Aug 2014</span>
				</mat-card-actions>
			</mat-card>
			<mat-card class="pr-exp-card">
				<mat-card-header>
					<div mat-card-avatar class="pr-exp-card-stiss pr-non-selectable pr-no-focus"></div>
					<mat-card-title class="pr-font-poi">Summer Trainee</mat-card-title>
					<mat-card-subtitle class="pr-font-chn">iSec Systems</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="assets/image/stiss-cover-photo.svg" alt="Photo of Summer Trainee">
				<mat-card-content>
					<p class="pr-font-nang">Completed Training at iSec Systems conducted by RoboNext in association with IIT Gwahati to build several Android Applications (Android Development Training)</p>
				</mat-card-content>
				<mat-card-actions>
					<span class="pr-font-cav">July 2014 - Aug 2014</span>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>






	<!-- <div fxLayout="column" fxLayoutAlign="start center" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
		<span class="pr-margin-right-15px pr-font-size-2-2-em pr-font-nang pr-non-selectable pr-no-focus">Skills</span>
		<div fxLayout="row wrap" fxLayoutAlign="center start">
			<mat-card class="pr-exp-card">
				<img mat-card-image src="assets/image/java-logo.png" alt="Photo of a URS">
				<mat-card-content>
					<p class="pr-font-nang">Java</p>
				</mat-card-content>
			</mat-card>
			<div>
				<img src="assets/image/java-logo.png" class="pr-skills-logo">
			</div>
			<div>
				<img src="assets/image/cpp-logo.png" class="pr-skills-logo">
			</div>
			<div>
				<img src="assets/image/java-logo.png" class="pr-skills-logo">
			</div>
		</div>
	</div> -->



	<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxlayoutAlign="center center" class="pr-margin-top-20vh pr-non-selectable pr-no-focus">
		<div fxLayout="row" fxLayoutAlign="center center" fxFlex="50" class="pr-margin-top-30px">
			<img [class.mat-elevation-z8]="true" src="assets/image/debabrata.jpg" class="pr-dp-image pr-non-selectable pr-no-focus">
		</div>
		<div fxLayout="column" fxLayoutAlign="center center" class="pr-margin-top-30px">
			<div fxLayout="row wrap" fxLayoutAlign="center center" class="pr-non-selectable pr-no-focus">
				<mat-chip-list aria-label="other options">
					<mat-chip (click)="openUnderProgressSnackbar()" class="pr-other-option-chip">education</mat-chip>
					<mat-chip (click)="openUnderProgressSnackbar()" class="pr-other-option-chip">projects</mat-chip>
					<mat-chip (click)="openUnderProgressSnackbar()" class="pr-other-option-chip">certificates</mat-chip>
					<mat-chip (click)="openUnderProgressSnackbar()" class="pr-other-option-chip">blog</mat-chip>
				</mat-chip-list>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="center center" class="pr-margin-top-30px pr-non-selectable pr-no-focus">
				<mat-chip-list aria-label="quick links">
					<mat-chip routerLink="/covid" class="pr-quick-link-chip">covid-19</mat-chip>
				</mat-chip-list>
			</div>
		</div>
	</div>
</section>
