<div fxLayout="column" class="pr-covid-tab-analysis">
	<div class="pr-analysis-banner-container pr-non-selectable pr-no-focus">
		<img src="assets/image/analysis_banner.svg" class="pr-analysis-banner pr-non-selectable pr-no-focus">
		<button mat-mini-fab color="primary" routerLink="/covid" matTooltip="go back to COVID dashboard" class="pr-analysis-back-button">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
	</div>
	<span class="pr-analysis-heading pr-font-chn pr-margin-top-10px">Analysis of COVID-19 spread vs GDP Per Capita of affected countries</span>
	<div fxLayout="column">
		<span class="pr-analysis-report-subheader pr-font-chn">Datasets</span>
		<span class="pr-covid-analysis-report pr-font-rmono">The analysis starts with 4 (four) different datasets (mentioned below), containing time series information of day by day confirmed cases, deaths, recoveries, and GDP figures for different nCoV-2019 affected countries throughout the globe.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">The dataset contains data from different provinces of multiple countries, and in some cases, few countries as a whole, along with their latitude and longitude.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">GDP dataset contains <span class="pr-analysis-important-marker">GDP (billion dollars), per capita income ($) and inflation rate (2019)</span> of all COVID-19 affected countries as of <span class="pr-analysis-important-marker">11/04/2020</span>.</span>
		<span class="pr-margin-top-30px pr-margin-sides-7p"><a href="https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv" target="_blank" class="pr-ext-link">[ source: World COVID-19 Timeseries Confirmed Cases ]</a></span>
		<span class="pr-margin-top-10px pr-margin-sides-7p"><a href="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv" target="_blank" class="pr-ext-link">[ source: World COVID-19 Timeseries Recoveries ]</a></span>
		<span class="pr-margin-top-10px pr-margin-sides-7p"><a href="https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv" target="_blank" class="pr-ext-link">[ source: World COVID-19 Timeseries Deceased ]</a></span>
		<span class="pr-margin-top-10px pr-margin-bottom-10px"><a href="https://github.com/kalyaniuniversity/COVID-19-Datasets/blob/master/World%20Financial%20Information/COUNTRY_FINANCIAL_INFORMATION.csv" target="_blank" class="pr-ext-link">[ source: World Financial Information ]</a></span>
		<div fxLayout="row" fxLayoutAlign="start center" class="pr-margin-top-10px pr-margin-sides-7p">
			<div fxLayout="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://colab.research.google.com/drive/1KPXrF-n-8cyKzLqgJHfSpo7MfkQ_4Xm4')" class="pr-colab-container mat-elevation-z2">
				<img src="assets/image/colab_favicon.ico" class="pr-colab-image pr-non-selectable pr-no-focus">
				<span class="pr-font-chn pr-margin-left-10px">Associated Google Colab Notebook</span>
			</div>
		</div>
		<span class="pr-analysis-report-subheader pr-font-chn">Motivation</span>
		<span class="pr-covid-analysis-report pr-font-rmono">In this analysis of COVID 19, we try to find out whether there is any relation between the virus infection, number of deaths, recovery in terms of per capita income of a country.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">As we have seen in some western countries like USA, Italy, Spain, France, UK, that the government and people are facing a tough time dealing with this pandemic. On the other hand, countries like China, South Korea, and Germany, are successful in recovering a large number of infected citizens.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">We are trying to figure out whether per capita income of a country affects the entire population in some way or the other, that determines their way of living, and as a result, how the people of a country are getting affected by novel corona virus.</span>
		<span class="pr-analysis-report-subheader pr-font-chn">Methodology</span>
		<span class="pr-covid-analysis-report pr-font-rmono">Initially, for all the countries, their respective per capita income is considered, and along with that the confirmed cases, deaths and recoveries are considered.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">Since the dataset is time series data, the cumulative numbers standing as per the latest available date (11/04/2020) is taken.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">In case of the countries, where data is given for different provinces, those data are added up and considered for a country.</span>
		<span class="pr-analysis-report-subheader pr-font-chn">GDP per Capita vs Infected Cases</span>
		<div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToAuthor('assets/image/analysis-02-infected.png')" class="pr-covid-analysis-image-container">
			<img src="assets/image/analysis-02-infected.png" class="pr-covid-analysis-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			<span class="pr-covid-analysis-image-title pr-font-chn">Figure 1</span>
		</div>
		<span class="pr-covid-analysis-report pr-font-rmono">In the above analysis (Figure 1) we can see, as the per capita income of a country increases, more is the numbers of confirmed cases. Though there are some exceptions for a few countries. The trend shows that initially for <span class="pr-analysis-important-marker">countries with low per capita income, confirmed cases are in range of 100k</span>. But as per capita increases, the <span class="pr-analysis-important-marker">numbers rise to 200k</span>. After that there are few countries where the confirmed cases lie in range of few thousands. The maximum confirmed cases are coming from USA.</span>
		<span class="pr-analysis-report-subheader pr-font-chn">GDP per Capita vs Deceased Cases</span>
		<div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToAuthor('assets/image/analysis-02-death.png')"  class="pr-covid-analysis-image-container">
			<img src="assets/image/analysis-02-death.png" class="pr-covid-analysis-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			<span class="pr-covid-analysis-image-title pr-font-chn">Figure 2</span>
		</div>
		<span class="pr-covid-analysis-report pr-font-rmono">In the above analysis (Figure 2) we see, when the per capita income of a country is low, the number of deceased is low. For few European countries, <span class="pr-analysis-important-marker">with per capita income in range of 50k, people die in quite a large number</span>. But as per capita increases, the number of deceased cases per country is less, lying in range of few thousands. The maximum cases of deaths are from USA, followed by Italy, Spain, France, and UK.</span>
		<span class="pr-analysis-report-subheader pr-font-chn">GDP per Capita vs Recovery Cases</span>
		<div fxLayout="column" fxLayoutAlign="center center" (click)="navigateToAuthor('assets/image/analysis-02-recovery.png')" class="pr-covid-analysis-image-container">
			<img src="assets/image/analysis-02-recovery.png" class="pr-covid-analysis-image mat-elevation-z8 pr-non-selectable pr-no-focus">
			<span class="pr-covid-analysis-image-title pr-font-chn">Figure 3</span>
		</div>
		<span class="pr-covid-analysis-report pr-font-rmono">In the above analysis (Figure 3) for COVID 19 recovery case we can see, <span class="pr-analysis-important-marker">when the per capita income of a country increases from low to high, the number of recovery cases changes from high to low</span>. China, one of the countries, that have reported maximum recovery from Corona Virus, with per capita income of about 10k. We can see the countries, that lie in the per capita range of up to 50k, for them the recovery is high. But as it crosses 50k mark, recovery drastically drops to less than 20k.</span>
		<span class="pr-analysis-report-subheader pr-font-chn">Conclusion</span>
		<span class="pr-covid-analysis-report pr-font-rmono">The crucial range of per capita income is the range of 0 to 50k. Most of the confirmed cases, deaths are reported from these countries. These countries have also succeeded in recovering most of their citizens, but in comparison to confirmed cases, they are still far behind. These countries face a quite high death toll. But the risk vanishes for the countries once it crosses 50k mark. There the confirmed case, deaths are reported less, and recovery has been done up to satisfactory level. So overall we can say as the situation goes worse for countries like USA, Italy, Spain, France, UK. Also at the same time countries like South Korea, China they have come a long way, and succeeded in tackling with the situation and recovering their citizens.</span>
		<span class="pr-covid-analysis-report pr-font-rmono">One of the reasons behind such a pattern maybe due to the fact that citizens in countries with higher per capita income tend to travel more and hence participate in spreading the virus further.</span>
		<div fxLayout="row wrap" class="pr-margin-top-30px">
			<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" (click)="navigateToAuthor('https://www.linkedin.com/in/abhijit-mitra-aa8a65187/')" class="pr-author-tag mat-elevation-z2">
				<div fxLayout="row" fxLayoutAlign="center center" class="pr-author-tag-image-container">
					<img src="assets/image/abhijit.jpg" class="pr-author-image mat-elevation-z8 pr-non-selectable pr-no-focus">
				</div>
				<div fxLayout="column" fxLayoutAlign="center start" class="pr-author-tag-content pr-font-chn">
					<span class="pr-author-tag-name">Abhijit Mitra</span>
					<span class="pr-author-tag-info-1">Dept. of Computer Science &amp; Engineering</span>
					<span class="pr-author-tag-info-2">University Of Kalyani</span>
				</div>
			</div>
		</div>
		<span class="pr-analysis-report-subheader pr-font-chn">Appendix</span>
		<div fxLayout="column" class="pr-margin-top-30px">
			<div fxLayout="row" routerLink="/covid" class="pr-analysis-appendix-element pr-non-selectable pr-no-focus">
				<div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
					<span class="pr-analysis-appendix-count pr-font-chn">&lt;&lt;</span>
				</div>
				<div fxLayout="column" fxLayoutAlign="center start" fxFlex="80">
					<span class="pr-analysis-appendix-header pr-font-chn">Go back to COVID-19 dashboard</span>
				</div>
			</div>
			<div fxLayout="row" routerLink="/covid/analysis/4" class="pr-analysis-appendix-element pr-non-selectable pr-no-focus">
				<div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
					<span class="pr-analysis-appendix-count pr-font-chn">04</span>
				</div>
				<div fxLayout="column" fxLayoutAlign="center start" fxFlex="80">
					<span class="pr-analysis-appendix-header pr-font-chn">Cumulative ranking analysis of nCoV-2019 spread in India over time</span>
					<span class="pr-analysis-appendix-desc pr-font-rmono">In this short analysis, we have taken the datasets for India's nCoV-19 infected, recovered and deceased cases in steps of 5 days of gap between each reading and ranked each region based on each day's cumulative infection, recovery and deceased count. These results have then been plotted.</span>
				</div>
			</div>
			<div fxLayout="row" routerLink="/covid/analysis/3" class="pr-analysis-appendix-element pr-non-selectable pr-no-focus">
				<div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
					<span class="pr-analysis-appendix-count pr-font-chn">03</span>
				</div>
				<div fxLayout="column" fxLayoutAlign="center start" fxFlex="80">
					<span class="pr-analysis-appendix-header pr-font-chn">Heatmap analysis of nCoV-2019 spread in India</span>
					<span class="pr-analysis-appendix-desc pr-font-rmono">In the representations given below we have tried to put forth the cumulative and the daily stats of the states that top in the confirmed, recovered and deceased counts respectively.</span>
				</div>
			</div>
			<div fxLayout="row" routerLink="/covid" class="pr-analysis-appendix-element pr-non-selectable pr-no-focus">
				<div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
					<span class="pr-analysis-appendix-count pr-font-chn">01</span>
				</div>
				<div fxLayout="column" fxLayoutAlign="center start" fxFlex="80">
					<span class="pr-analysis-appendix-header pr-font-chn">Relation between average infection rate and surface air temperature of affected areas</span>
					<span class="pr-analysis-appendix-desc pr-font-rmono">Since this analysis depends on live data, it can found under the <span class="pr-analysis-important-marker">"Analyses" tab on the COVID dashboard</span>.</span>
				</div>
			</div>
		</div>
	</div>
</div>