html, body {
	position: fixed;
	width: 100%;
	height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    display: none;
}

::selection {
	background: #007600;
}

::-moz-selection {
	background: #007600;
}

.mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

.mat-row,
.mat-header-row {
    display: table-row;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.pr-non-selectable {
    -webkit-user-select: none;
}

.pr-no-focus:focus {
    outline: none;
    border: 0;
}

.pr-font-size-1-em {
	font-size: 1em;
}

.pr-font-size-1-1-em {
	font-size: 1.1em;
}

.pr-font-size-1-2-em {
	font-size: 1.2em;
}

.pr-font-size-1-3-em {
	font-size: 1.3em;
}

.pr-font-size-1-5-em {
	font-size: 1.5em;
}

.pr-font-size-1-7-em {
	font-size: 1.7em;
}

.pr-font-size-1-8-em {
	font-size: 1.8em;
}

.pr-font-size-2-2-em {
	font-size: 2.2em;
}

.pr-font-size-3-em {
	font-size: 3em;
}

.pr-font-size-12-em {
	font-size: 12em;
}

.pr-line-height-1-2-em {
	line-height: 1.2em;
}

.pr-line-height-1-5-em {
	line-height: 1.5em;
}

.pr-font-nang {
	font-family: 'Nanum Gothic', sans-serif;
}

.pr-font-cav {
	font-family: 'Caveat';
}

.pr-font-poi {
	font-family: 'Poiret One';
}

.pr-font-chn {
	font-family: 'Changa', sans-serif;
}

.pr-font-abl {
	font-family: 'Abel', sans-serif;
}

.pr-font-rmono {
	font-family: 'Roboto Mono', monospace;
}

.pr-margin-top-10px {
	margin-top: 10px;
}

.pr-margin-top-30px {
	margin-top: 30px;
}

.pr-margin-top-10vh {
	margin-top: 10vh;
}

.pr-margin-top-20vh {
	margin-top: 20vh;
}

.pr-margin-bottom-30px {
	margin-bottom: 30px !important;
}

.pr-margin-bottom-10px {
	margin-bottom: 10px;
}

.pr-margin-left-10px {
	margin-left: 10px;
}

.pr-margin-left-15px {
	margin-left: 15px;
}

.pr-margin-right-10px {
	margin-right: 10px;
}

.pr-margin-right-15px {
	margin-right: 15px;
}

.pr-margin-sides-10p {
	margin-right: 10%;
	margin-left: 10%;
}

.pr-padding-top-30px {
	padding-top: 30px !important;
}

.pr-padding-top-10px {
	padding-top: 10px !important;
}

.pr-padding-bottom-30px {
	padding-bottom: 30px !important;
}

.pr-padding-bottom-10px {
	padding-bottom: 10px !important;
}

.pr-padding-10px {
	padding: 10px;
}

.pr-padding-sides-10p {
	padding-left: 10%;
	padding-right: 10%;
}

.pr-ext-link {
	background-color: #007600;
	color: whitesmoke;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.pr-ext-link-2 {
	background-color: #007600;
	color: whitesmoke;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0.5px;
	padding-bottom: 0.5px;
}

.pr-uppercase {
	text-transform: uppercase;
}

.pr-justify {
	text-align: justify;
}

.pr-bold {
	font-weight: bold;
}

.pr-color-primary-green {
	color: #007600;
}

.pr-color-green-1 {
	color: #07c407;
}

.pr-color-gray-1 {
	color: lightgray;
}

.pr-color-watermelon {
	color: #fe7f9c;
}

.pr-color-pink-1 {
	color: #ffc0cb;
}

 .dark .ngx-charts text {
	 fill: #a0aabe;
}
 .dark .ngx-charts .tooltip-anchor {
	 fill: #fff;
}
 .dark .ngx-charts .gridline-path {
	 stroke: #2f3646;
}
 .dark .ngx-charts .refline-path {
	 stroke: #455066;
}
 .dark .ngx-charts .reference-area {
	 fill: #fff;
}
 .dark .ngx-charts .grid-panel.odd rect {
	 fill: rgba(255, 255, 255, 0.05);
}
 .dark .ngx-charts .force-directed-graph .edge {
	 stroke: #455066;
}
 .dark .ngx-charts .number-card p {
	 color: #f0f1f6;
}
 .dark .ngx-charts .gauge .background-arc path {
	 fill: #2f3646;
}
 .dark .ngx-charts .gauge .gauge-tick path {
	 stroke: #a0aabe;
}
 .dark .ngx-charts .gauge .gauge-tick text {
	 fill: #a0aabe;
}
 .dark .ngx-charts .linear-gauge .background-bar path {
	 fill: #2f3646;
}
 .dark .ngx-charts .linear-gauge .units {
	 fill: #72809b;
}
 .dark .ngx-charts .timeline .brush-background {
	 fill: rgba(255, 255, 255, 0.05);
}
 .dark .ngx-charts .timeline .brush .selection {
	 fill: rgba(255, 255, 255, 0.1);
	 stroke: #aaa;
}
 .dark .ngx-charts .polar-chart .polar-chart-background {
	 fill: #1e222e;
}
 .dark .chart-legend .legend-labels {
	 background: rgba(255, 255, 255, 0.05) !important;
}
 .dark .chart-legend .legend-item:hover {
	 color: #fff;
}
 .dark .chart-legend .legend-label:hover {
	 color: #fff !important;
}
 .dark .chart-legend .legend-label .active .legend-label-text {
	 color: #fff !important;
}
 .dark .chart-legend .scale-legend-label {
	 color: #a0aabe;
}
 .dark .advanced-pie-legend {
	 color: #a0aabe;
}
 .dark .advanced-pie-legend .legend-item:hover {
	 color: #fff !important;
}
 .dark .number-card .number-card-label {
	 font-size: 0.8em;
	 color: #a0aabe;
}

.pr-map-popup-container {
	padding: 1px;
}

.pr-map-popup-title {
	font-size: 1.3em;
	padding-bottom: 10px;
}

.pr-map-popup-coordinates {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.pr-map-popup-info-container {
	font-size: 1.1em;
	border-left: 3px solid #fe7f9c;
	padding-left: 5px;
}

.pr-map-popup-info-header {
	color: #455066;
}

.pr-map-popup-info-value {
	color: #fe7f9c;
}

.pr-author-image {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	padding: 2px;
}

.pr-author-tag {
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}

.pr-author-tag-image-container {
	margin: 5px;
}

.pr-author-tag-content {
	margin-left: 5px;
}

.pr-author-tag-name {
	font-size: 1.3em;
	padding-bottom: 5px;
}

.pr-author-tag-info-1 {
	font-size: 1.1em;
	color: #a0aabe;
}

.pr-author-tag-info-2 {
	font-size: 1.1em;
	color: #f5c3c2;
}

.pr-colab-container {
	padding: 10px;
	cursor: pointer;
	border-radius: 3px;
}

.pr-colab-image {
	height: 30px;
	width: 30px;
}

.pr-hashtag-1 {
	font-weight: bold;
	color: #fe7f9c;
}

.pr-classic-button-1 {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: #007600;
	color: white;
	cursor: pointer;
	-webkit-transition: all 300ms ease-out 50ms;
    -o-transition: all 300ms ease-out 50ms;
    transition: all 300ms ease-out 50ms;
}

.pr-classic-button-1:hover {
	background-color: #589e58;
	-webkit-transition: all 300ms ease-out 50ms;
    -o-transition: all 300ms ease-out 50ms;
    transition: all 300ms ease-out 50ms;
}

.pr-code-snippet {
	padding: 6px;
	background-color: #d3d3d3;
	color: black;
	font-weight: lighter;
	font-family: monospace;
	font-size: 0.9em;
}