<div fxLayout="column" class="pr-covid-tab-analysis">
	<div fxLayout="column" class="pr-margin-sides-10p pr-margin-top-10px pr-margin-bottom-30px">
		<span *ngIf="isLoading" class="pr-covid-loading-message pr-font-chn pr-margin-bottom-10px">Loading data ...</span>
		<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
	</div>
	<div fxLayout="column">
		<span><span class="pr-covid-notice-header pr-font-chn">SOURCE DATA HAS CHANGED SINCE 23 / 3/ 2020</span></span>
		<span class="pr-margin-top-10px pr-margin-bottom-10px"><a href="https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv" target="_blank" class="pr-ext-link">[ source: COVID-19 Timeseries Deaths ]</a></span>
	</div>
	<span class="pr-analysis-heading pr-font-chn pr-margin-top-30px">covid-19 reported death cases as of <span class="pr-color-watermelon">{{latestCovidDeathDate}}</span> (mm/dd/yyyy)</span>
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header class="pr-padding-top-10px pr-padding-bottom-10px">
				<mat-panel-title class="pr-font-chn">DEATH CASES</mat-panel-title>
				<mat-panel-description class="pr-font-chn">Expand to view the Death Cases Dataset</mat-panel-description>
			</mat-expansion-panel-header>
			<span fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-covid-smallscreen-notice">The dataset is better viewed on a larger screen such as a computer or laptop screen. It may be difficult / uncomfortable to view it on smaller mobile screens.</span>
			<table mat-table #covidTimeseriesDeathDatatable [dataSource]="COVID_DEATH_MAT_TABLE_DATASCOURCE" class="mat-elevation-z8 pr-datatable">
				<ng-container *ngFor="let entry of covidDeathTableDisplayedColumns; index as i" matColumnDef="{{entry}}" sticky="{{i < 2 ? true : false}}">
					<mat-header-cell *matHeaderCellDef>{{covidDeathData.getHeaders()[i]}}</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element[entry]}}</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="covidDeathTableDisplayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: covidDeathTableDisplayedColumns"></mat-row>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons></mat-paginator>
		</mat-expansion-panel>
	</mat-accordion>
	<div fxLayout="column" class="pr-margin-top-10vh">
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Total Deaths:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{workhorse.getCovidTotalDeaths(covidDeathData)}}</span>
			</div>
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Death Percentage:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{getCovidDeathPercent()}} &#x00025;</span>
			</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-margin-top-30px">
		<span class="pr-analysis-report-subtitle">Kindly use a larger screen device for better view and interaction with charts!</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="center stretch" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">Infection to Death Ratio:</span>
			<span class="pr-analysis-report-subtitle">Infection: {{getCovidTotalInfectionCount()}} | Deaths: {{workhorse.getCovidTotalDeaths(covidDeathData)}}</span>
		</div>
		<ngx-charts-pie-chart [view]="covidDeathChartDeathRatio.view" [scheme]="covidDeathChartDeathRatio.colorScheme" [results]="covidDeathChartDeathRatio.single" [gradient]="covidDeathChartDeathRatio.gradient" [legend]="covidDeathChartDeathRatio.showLegend" [labels]="covidDeathChartDeathRatio.labels" [legendPosition]="covidDeathChartDeathRatio.legendPosition" [doughnut]="covidDeathChartDeathRatio.doughnut" (select)="onSelectCovidDeathRatioChart($event)"></ngx-charts-pie-chart>
	</div>
	<div fxLayout="column" class="pr-margin-top-10vh">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">Select a Country and Latest no. of Days to show:</span>
			<div fxLayout="row">
				<mat-form-field fxFlex="50" class="pr-margin-left-15px pr-margin-right-15px">
					<mat-label>Select a country</mat-label>
					<mat-select [(ngModel)]="covidDeathChartDeathRate.selectedCountry" (selectionChange)="onSelectorChangeCovidDeathRatioCountry($event)">
						<mat-option *ngFor="let country of workhorse.getSortedCountryNames(covidDeathData)" [value]="country">{{country}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field fxFlex="50" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" class="pr-margin-left-15px pr-margin-right-15px">
					<mat-label>Select the latest number of days to show</mat-label>
					<mat-select [(ngModel)]="covidDeathChartDeathRate.latestDays" (selectionChange)="onSelectorChangeCovidDeathDaysDeathProgress($event)">
						<mat-option *ngFor="let days of workhorse.getNumberOfDaysArray(covidDeathData); let i = index" [value]="i + 1">{{i + 1}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Deaths In {{covidDeathChartDeathRate.selectedCountry}}:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{workhorse.getCovidDeathsByCountry(covidDeathData, covidDeathChartDeathRate.selectedCountry)}}</span>
			</div>
			<div fxLayout="column" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pr-analysis-report-container">
				<span class="pr-analysis-report-header pr-font-chn">Death Percentage In {{covidDeathChartDeathRate.selectedCountry}}:</span>
				<span class="pr-analysis-report-data pr-font-chn">{{getCovidDeathPercentByCountry(covidDeathChartDeathRate.selectedCountry)}} &#x00025;</span>
			</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center" fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" class="pr-margin-top-30px">
		<span class="pr-analysis-report-subtitle">Kindly use a larger screen device for better view and interaction with charts!</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="center center" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">{{covidDeathChartDeathRate.selectedCountry}}'s Death Progress:</span>
			<span class="pr-analysis-report-subtitle">{{covidDeathChartDeathRate.selectedCountry}}'s Total Infection: <span class="pr-color-watermelon pr-font-chn">{{getCovidTotalInfectionCountByCountry(covidDeathChartDeathRate.selectedCountry)}}</span></span>
			<span class="pr-analysis-report-subtitle">Use the drop downs above to change the visualizations a required.</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="center center">
			<ngx-charts-line-chart [view]="covidDeathChartDeathRate.view" [scheme]="covidDeathChartDeathRate.colorScheme" [results]="covidDeathChartDeathRate.multi" [xAxis]="covidDeathChartDeathRate.showXAxis" [yAxis]="covidDeathChartDeathRate.showYAxis" [legend]="covidDeathChartDeathRate.showLegend" [legendPosition]="covidDeathChartDeathRate.legendPosition" [showXAxisLabel]="covidDeathChartDeathRate.showXAxisLabel" [showYAxisLabel]="covidDeathChartDeathRate.showYAxisLabel" [xAxisLabel]="covidDeathChartDeathRate.xAxisLabel" [yAxisLabel]="covidDeathChartDeathRate.yAxisLabel" (select)="onSelectCovidDeathCountryProgressChart($event)"></ngx-charts-line-chart>
		</div>
	</div>
	<div fxLayout="column" fxLayoutAlign="center center" class="dark pr-chart-container pr-margin-top-10vh pr-non-selectable pr-no-focus">
		<div fxLayout="column" class="pr-analysis-report-container">
			<span class="pr-analysis-report-header pr-font-chn">{{covidDeathChartDeathRate.selectedCountry}}'s Infection to Death Progress:</span>
			<span class="pr-analysis-report-subtitle">Use the drop downs above to change the visualizations a required.</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="center center">
			<ngx-charts-line-chart [view]="covidDeathChartInfectionToDeathRate.view" [scheme]="covidDeathChartInfectionToDeathRate.colorScheme" [results]="covidDeathChartInfectionToDeathRate.multiComparison" [xAxis]="covidDeathChartInfectionToDeathRate.showXAxis" [yAxis]="covidDeathChartInfectionToDeathRate.showYAxis" [legend]="covidDeathChartInfectionToDeathRate.showLegend" [legendPosition]="covidDeathChartInfectionToDeathRate.legendPosition" [showXAxisLabel]="covidDeathChartInfectionToDeathRate.showXAxisLabel" [showYAxisLabel]="covidDeathChartInfectionToDeathRate.showYAxisLabel" [xAxisLabel]="covidDeathChartInfectionToDeathRate.xAxisLabel" [yAxisLabel]="covidDeathChartInfectionToDeathRate.yAxisLabel" (select)="onSelectCovidDeathCountryProgressChart($event)"></ngx-charts-line-chart>
		</div>
	</div>
</div>
